# IDE related files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
renpy.exe
renpy.py
.gitignore
.gitignore
renpy.sh
/doc
/gui
/launcher
/lib
/module
/renpy
/sdk-fonts
/tmp
/update
/web
/renpy.app
/EHU-horor/game/music